
<%- include('./partials/navbar.ejs') %>

    <!-- <h1>Cadastro de consulta</h1>
    <hr>
    <form method="POST" action="/create">
        <input type="text" name="name" id="name" placeholder="nome do paciente" class="form-control" required>
        <input type="email" name="email" id="email" placeholder="digite seu email" class="form-control" required>
        <input type="text" name="cpf" id="cpf" placeholder="CPF" class="form-control cpf" required>
        <input type="text" name="description" id="description" placeholder="Assunto" class="form-control" required>
        <input type="date" name="date" id="data" placeholder="14/04/2023" class="form-control" required>
        <input type="time" name="time" id="time" class="form-control" required>
        <button class="btn btn-success">Agendar</button>
    </form>

    <hr> -->
        <h1 class="text-center"><i class="fas fa-calendar-plus"></i> Cadastro de consulta</h1>
    <hr>
    <div class="container">
        <div class="card shadow p-3 mb-5 bg-body rounded">
            <div class="card-body">
                <form method="POST" action="create">
                    <div class="input-group mb-4 shadow-sm">
                        <span class="input-group-text" id="basic-addon1"><i class="fas fa-user-plus"></i></span>
                        <input class="form-control" type="text" name="name" id="name" placeholder="Nome do paciente" autocomplete="off"/>
                    </div>
                
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="input-group mb-4 shadow-sm">
                                <span class="input-group-text" id="basic-addon1"><i class="fas fa-envelope"></i></span>
                                <input class="form-control" type="email" name="email" id="email" placeholder="E-mail do paciente" autocomplete="off"/>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="input-group mb-4 shadow-sm">
                                <span class="input-group-text" id="basic-addon1"><i class="fas fa-id-card"></i></span>
                                <input class="form-control cpf" type="text" name="cpf" id="cpf" placeholder="CPF do paciente" autocomplete="off"/>
                            </div>
                        </div>
                    </div>

                    <div class="input-group mb-4 shadow-sm">
                        <span class="input-group-text"><i class="fas fa-edit"></i></span>
                        <input type="text" class="form-control" name="description" id="description" placeholder="Assunto">
                    </div>


                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="input-group mb-4 shadow-sm">
                                <span class="input-group-text"><i class="fas fa-calendar-alt"></i></span>
                                <input type="date" name="date" id="date" class="form-control" placeholder="12/12/2012" />
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="input-group mb-4 shadow-sm">
                                <span class="input-group-text"><i class="fas fa-clock"></i></span>
                                <input type="time" name="time" id="time" class="form-control" />
                            </div>
                        </div>
                    </div>
                    
                    <div class="d-grid mt-3">
                        <button class="btn btn-success">Salvar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <%- include('./partials/footer.ejs') %>