<%- include('./partials/navbar.ejs') %>
    <hr>
        <h1 class="text-center"><i class="far fa-calendar-check"></i> Calendário</h1>
    <hr>
    <div class="container p-5">
        <div id="calendar"></div>
    </div>
<%- include('./partials/footer.ejs') %>